asgiref==3.12.1
babel==2.18.0
black==26.5.1
brotli==1.2.0
cffi==2.1.1
click==8.5.0
cssselect2==0.10.1
Django==5.2.10
django-cors-headers==4.9.0
django-filter==26.1
django-money==3.6.1
django_resaas==0.0.525
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-writable-nested==0.7.2
fonttools==4.65.0
gunicorn==26.2.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.11.8
psycopg==3.3.5
psycopg-binary==3.3.5
py-moneyed==3.0
pycparser==3.0
pydyf==0.12.1
PyJWT==2.14.0
PyOTP==2.10.0
pyphen==0.18.1
python-barcode==0.15.1
python-dotenv==1.2.3
pytokens==0.4.1
qrcode==8.2
sqlparse==0.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
tomli==2.4.1
typing_extensions==4.16.0
weasyprint==70.0
webencodings==0.6.1
zopfli==0.4.3
